# Custom Bazzite Gaming OS

IMAGE_NAME=my-bazzite-custom-image

REPO_ORGANIZATION="r66631905-ui"

IMAGE_DESC="Custom Bazzite Gaming OS with Steam, Proton-CachyOS, Wine, DXVK, VKD3D-Proton and gaming optimizations"

IMAGE_KEYWORDS="bazzite,gaming,steam,proton,proton-cachyos,wine,dxvk,vkd3d,vulkan,gamescope,mangohud,gamemode,linux"

IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/0?v=4"

DEFAULT_TAG="latest"

BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
