IMAGE_NAME=my-bazzite-custom-image
REPO_ORGANIZATION="r66631905-ui"

IMAGE_DESC="Custom Bazzite Gaming OS with Proton CachyOS, Wine, DXVK and VKD3D-Proton"

IMAGE_KEYWORDS="bazzite,gaming,proton,wine,dxvk,vkd3d,linux,steam,bootc"

DEFAULT_TAG="latest"
